.menubtn{
    font-family: Work Sans, sans-serif;
    font-weight: 500;
    color: rgb(0, 28, 85);
    padding:10px 20px;
    font-size:19px;   
    border-radius:0;
  
}
.menubtn:hover{
   
        background:#a3e3fb;
}